@import "tailwindcss";

@font-face {
  font-family: DMSans;
  src: url("/fonts/DMSans-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: DMSans;
  src: url("/fonts/DMSans-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: DMSans;
  src: url("/fonts/DMSans-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: DMSans;
  src: url("/fonts/DMSans-SemiBoldItalic.woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Bricolage;
  src: url("/fonts/BricolageGrotesque-Bold.woff2");
  font-weight: 700;
}

@theme {
  --font-dmSans: "DMSans";
  --font-bricolage: "Bricolage";

  --color-neutral-0: #ffffff;
  --color-neutral-200: #d4d3d9;
  --color-neutral-300: #acacb7;
  --color-neutral-600: #3c3b5e;
  --color-neutral-700: #302f4a;
  --color-neutral-800: #262540;
  --color-neutral-900: #02012c;

  --color-accent: #ff820a;
  --color-secondary: #4658d9;
  --color-secondary-dark: #2b1b9c;

  --color-text: #ffffff;
  --color-text-muted: var(--color-neutral-300);

  --color-ui: var(--color-neutral-800);
  --color-ui-hover: var(--color-neutral-700);
  --color-ui-border: var(--color-neutral-600);

  --radius-ui-container: 12px;
  --radius-input: 8px;

  --text-field-height: 56px;
  --primary-button-height: 56px;

  --z-dropdown: 10;
}

::-webkit-scrollbar {
  width: 4px; /* width for vertical scrollbar */
  height: 4px; /* height for horizontal scrollbar */
}

/* The draggable part (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-ui-hover); /* thumb color */
  border-radius: var(--radius-input); /* round corners */
  border: 1px solid var(--color-ui-border); /* space around thumb */
}

/* Scrollbar track (container behind thumb) */
::-webkit-scrollbar-track {
  background-color: var(--color-ui);
  border-radius: 1px;
}

/* Optional: hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  * {
    opacity: 1;
  }

  body {
    @apply text-text bg-neutral-900 leading-[120%] font-dmSans relative;

    /* background-image: url("design/dropdown-state.jpg");
    background-repeat: no-repeat;
    background-position: top center; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Bricolage;
    font-weight: 700;
  }

  h1 {
    @apply text-[52px] font-bold font-bricolage leading-15;
  }
}
