@import "tailwindcss";

@font-face {
  font-family: DMSans;
  src: url("/fonts/DMSans.woff2") format("woff2");
}

@font-face {
  font-family: DMSansItalic;
  src: url("/fonts/DMSansItalic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: Bricolage;
  src: url("/fonts/BricolageGrotesque.woff2") format("woff2");
}

@theme {
  --font-dmSans: "DMSans";
  --font-dmSansItalic: "DMSansItalic";
  --font-bricolage: "Bricolage";

  --color-neutral-0: #ffffff;
  --color-neutral-200: #d4d3d9;
  --color-neutral-300: #acacb7;
  --color-neutral-600: #3c3b5e;
  --color-neutral-700: #302f4a;
  --color-neutral-800: #262540;
  --color-neutral-900: #02012c;

  --color-accent: #ff820a;
  --color-secondary: #4658d9;
  --color-secondary-dark: #2b1b9c;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    font-family: DMSans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Bricolage;
    font-weight: 700;
  }
}
